body {
    background: #2C2F33;
    width: 100%;
    height: 100vh;
}

.title {
    color: yellow;
    text-align: center;
    position: absolute;
    top: 35%;
    left: 40%;
}

.browse {
    position: absolute;
    top: 41%;
    left: 41.5%;
    width: 15%;
}

.browse:hover {
    text-decoration: underline;
}

.ideas {
    position: absolute;
    bottom: 1%;
    left: 1%;
}

.ideas:hover {
    text-decoration: underline;
}