body {
    background: #2C2F33;
    width: 100%;
    max-height: 100vh;
    color: white;
}

.title {
    margin-left: 4rem;
    margin-top: 2rem;
    pointer-events: none;
}

.p1 {
    margin-left: 5rem;
    margin-top: 1rem;
}

.p2 {
    margin-left: 5rem;
    margin-top: 1rem;
}

.p3 {
    margin-left: 5rem;
    margin-top: 1rem;
}

.p4 {
    margin-left: 5rem;
    margin-top: 1rem;
}

.p5 {
    margin-left: 5rem;
    margin-top: 1rem;
}

.p6 {
    margin-left: 5rem;
    margin-top: 1rem;
}

.back {
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    width: 5%;
}

.p1:hover,
.p2:hover,
.p3:hover,
.p4:hover,
.p5:hover,
.back:hover {
    text-decoration: underline;
}

.pIcon{
    position: absolute;
    top: 10%;
    left: 25%;
    opacity: 20%;
    user-select: none;
    pointer-events: none;
}
