body {
    background: #2C2F33;
    width: 100%;
    max-height: 100vh;
    color: white;
}

.title {
    margin-left: 4rem;
    margin-top: 2rem;
    pointer-events: none;
}

.desc {
    margin-left: 5rem;
    margin-top: 2rem;
    max-width: 60%;
}

.download {
    margin-left: 10rem;
    margin-top: 2%;
    width: 25%;
}

.download:hover {
    color: white;
    text-decoration: underline;
}

.d {
    color: white;
}

.d:hover {
    color: white;
}

.back {
    position: absolute;
    bottom: 2rem;
    right: 2rem;
    width: 15%;
}

.back:hover {
    text-decoration: underline;
}