body {
    background: #2C2F33;
    width: 100%;
    max-height: 100vh;
    color: white;
}

.title {
    margin-left: 4rem;
    margin-top: 2rem;
    pointer-events: none;
}

.desc {
    margin-left: 5rem;
    margin-top: 2rem;
    max-width: 40%;
}

.back {
    position: absolute;
    bottom: 2rem;
    right: 4rem;
    width: 5%;
}

.back:hover {
    text-decoration: underline;
}

.user{
    position: absolute;
    max-width: 17%;
    min-width: 17%;
    left: 10%;
}

.signup{
    position: absolute;
    left: 30%;
}

.thankyou{
    position: absolute;
    left: 25%;
    top: 30%;
}
